/*body {
    background-image: url("/dist//img/Landing.png");
}
*/

section{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    padding-top: 20px;
}
.logoI {
    padding: 20px;
    height: 40px;
  }

form {

    background-color: #111418;
    border-radius: 40px;
    width: 400px;
    height: 500px;

}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;

}

.go-out {
    background: none;
    border: none;
    width: 5px;
    height: 5px;
    padding-left: 280px;
}

.img-out {
    width: 20px;
}

h1 {
    color: white;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 40px;
}
.inpuut {
    background-color: white;
    border-radius: 30px;
    height: 45px;
    width: 250px;
    border: none;
    margin: 5px;
    padding-left: 20px;
}

.loginbtn {
    background-color: #55FF00;
    border-radius: 30px;
    height: 45px;
    width: 280px;
    border: none;
    margin-top: 50px;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
    font-size: larger;
    color: white;

}

a {
    color: white;
    padding-top: 40px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
    font-size: small;
}