@media (min-width: 601px) {
    main-container {
        position: relative;
    }

    app-carousel {
        top: 2%;
        right: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 15%;
    }

    app-functioncard {
        position: absolute;
        top: 75%;
        right: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

  @media (max-width: 600px) {
    main-container {
        position: relative;

    }

    app-carousel {
        top: 2%;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    app-functioncard {
        top: 68%;
        right: 14%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}