@media (min-width: 801px) {
    .upload-image{
        height: 25%;
        width: 25%;
        margin: 0.2%;
        min-width: 200px;
        min-height: 200px;
    
    }
    
    .containerAll{
        right: 0;
        position: absolute;
    }
    
    .my-profile{
        position: relative;
    }
    
    .container2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 20%;
    }
    
}

@media (max-width: 800px) {
    .upload-image{
        height: 20%;
        width: 25%;
        margin: 0.5%;
        min-width: 100px;
        min-height: 100px;
    }
    
    .containerAll{
        right: 0;
        position: absolute;
        margin-top: -750px;
    }
    
    .my-profile{
        position: relative;
    }
    
    .container2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 15%;
        
    }
    
}
