button  {
    background: none;
    border: none;

}

img{
    margin: 0px 0px 0px 0px;
    padding: 15%;
    height: 15%;
    width: 25%;

}

@media (max-width: 600px) {
    img{
        height: 35%;
        width: 35%;
        justify-content: space-around;
    }

}