section {
    display: flex;
    flex-direction: row;
}

button {
    background: none;
    border: none;
}

img{
    border-radius: 50px;
}

.principalimg {
    padding: 20px;
    width: 450px;
    height: 600px;
}