app-container {
    display: flex;
    flex-direction: row;
}

:host {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  app-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  my-nav, main-container {
    width: 100px; /* O ajusta el ancho según tus necesidades */
  }