@media (min-width: 801px) {
    
   .general{
        top: 100px;
        right: 15px;
        display: flex;
        align-items: center;
        min-width: 88%;
        height: 100px;
    }

    img{
        position: absolute;
        width: 80px;
        height: 80px;
        display: flex;
        border-radius: 50%;
        margin-left: 200px;
        margin-top: -1200px;

    }

    h1 {
        position: absolute;
       margin: 0; 
       color: white;
       margin-left: 315px;
       margin-top: -1200px;
    }
    
}

@media (max-width: 800px) {
    
    .general{
         top: 100px;
         right: 15px;
         display: flex;
         align-items: center;
         min-width: 88%;
         height: 100px;
     }
 
     img{
         position: absolute;
         width: 80px;
         height: 80px;
         display: flex;
         border-radius: 50%;
         margin-left: 40px;
         margin-top: -1700px;
 
     }
 
     h1 {
         position: absolute;
        margin: 0; 
        color: white;
        margin-left: 140px;
        margin-top: -1700px;
     }
     
 }